//
   Created by luhuijian on 15/5/19.

extends ./layout
block content
  .container
    .row
      form.form-horizotal(method="post",action="/admin/catetory")
        .form-group
          label.col-sm-2.control-label(for="inputCatetory") 电影分类
          .col-sm-10
            input#inputCatetory.form-control(type="text",name="catetory[name]",value=catetory.name)
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入
